<!--
 Copyright (c) 2014, 2022, Oracle and/or its affiliates.
 Licensed under The Universal Permissive License (UPL), Version 1.0
 as shown at https://oss.oracle.com/licenses/upl/
 -->
 <div class="oj-hybrid-padding">
  <h1>Linea de vehiculos</h1>
  <div>
    <oj-button class="oj-md-margin-4x" id="buttonOpener" on-oj-action="[[openCrearProducto]]">Agregar linea</oj-button>
    <!--Start crear lineadialog-->
    <oj-dialog id="crear-producto-dialog" dialog-title="Agregar linea" aria-describedby="desc">
      <div slot="body">
        <p id="desc">
          Ingrese los datos para guardar la nueva linea.
        </p>
        <div class="div1">
          <oj-select-single class="oj-sm-margin-1x-bottom" data="[[marcasDataProvider]]" value="" label-hint="Marca" on-value-changed="[[marcaSelect]]"></oj-select-single>
          <oj-input-text value="{{nombreLinea}}" label-hint="Nombre de la linea" class="oj-sm-margin-4x-bottom">
          </oj-input-text>
          </oj-input-number>
        </div>
      </div>
      <div slot="footer">
        <oj-button id="saveButton" on-oj-action="[[guardarProducto]]">Guardar linea</oj-button>
        <oj-button id="cancelButton" on-oj-action="[[closeCrearProducto]]">Cancelar</oj-button>
      </div>
    </oj-dialog>
    <!--End crear lineadialog-->

    <!--Start editar lineadialog-->
    <oj-dialog id="editar-producto-dialog" dialog-title="Editar linea " aria-describedby="desc">
      <div slot="body">
        <p id="desc">
          Ingrese los datos para actualizar la linea
        </p>
        <div>
          <oj-input-text value="{{idLineaEditar}}"  label-hint="ID" class="oj-sm-margin-4x-bottom" readonly="true">
          </oj-input-text>
          <oj-select-single class="oj-sm-margin-1x-bottom" data="[[marcasDataProvider]]" value="{{idMarcaEditar}}" label-hint="Marca" on-value-changed="[[marcaSelect]]"></oj-select-single>

          <oj-input-text value="{{nombreLineaEditar}}" label-hint="Nombre de la linea"
            class="oj-sm-margin-4x-bottom">
          </oj-input-text>

        </div>
      </div>
      <div slot="footer">
        <oj-button id="saveButton" on-oj-action="[[editarProducto]]">Guardar cambios</oj-button>
        <oj-button id="cancelButton" on-oj-action="[[closeEditarProducto]]">Cancelar</oj-button>
      </div>
    </oj-dialog>
    <!--End editar lineadialog-->

    <!--Start eliminar lineadialog-->
    <oj-dialog id="eliminar-producto-dialog" dialog-title="Eliminar linea" aria-describedby="desc">
      <div slot="body">
        <p id="desc">
          ¿Está seguro de eliminar este elemento?
        </p>
        <oj-input-text value="{{nombreLineaEditar}}" label-hint="Nombre de la linea" class="oj-sm-margin-4x-bottom"
          readonly="true">
        </oj-input-text>
      </div>
      <div slot="footer">
        <oj-button id="saveButton" on-oj-action="[[eliminarProducto]]">Eliminar</oj-button>
        <oj-button id="cancelButton" on-oj-action="[[closeEliminarProducto]]">Cancelar</oj-button>
      </div>
    </oj-dialog>
    <!--End eliminar lineadialog-->

    

    <div class="" >

  
    
      <!--start table-->
      <oj-table id="table" aria-label="Tabla de lineas" accessibility.row-header="nombre"
      data="[[lineasDataProvider]]" selection-mode='{"row": "single"}' dnd='{"reorder": {"columns": "enabled"}}'
      scroll-policy="loadMoreOnScroll" scroll-policy-options='{"fetchSize": 10}'
      on-selected-changed="[[selectedChangedListener]]" columns=
      

                    '[{"headerText": "ID", 
                     "field": "id",
                     "headerClassName": "oj-sm-only-hide",
                     "className": "oj-sm-only-hide",
                     "resizable": "enabled",
                     "id": "depId"},


                    {"headerText": "Linea", 
                     "field": "nombre",
                     "resizable": "enabled",
                     "id": "depName"},

                     {"headerText": "Marca", 
                     "field": "nombre_marca",
                     "resizable": "enabled",
                     "id": "depNameMarca"},


                    {"headerText": "Actions",
                     "headerClassName": "oj-sm-only-hide",
                     "className": "oj-sm-only-hide",
                     "resizable": "enabled",
                     "template": "cellTemplate",
                     "id": "locId"}]' class="demo-table-container">

    <template slot="cellTemplate" data-oj-as="cell">
      <oj-button id="editarBtn" on-oj-action="[[openEditarProducto]]">
        Editar
      </oj-button>
      <oj-button id="editarBtn" on-oj-action="[[openEliminarProducto]]">
        Eliminar
      </oj-button>
    </template>
  </oj-table>
  <!--end table-->

 

    </div>
  
    
    
    
  </div>
</div>