<!--
 Copyright (c) 2014, 2022, Oracle and/or its affiliates.
 Licensed under The Universal Permissive License (UPL), Version 1.0
 as shown at https://oss.oracle.com/licenses/upl/
 -->
<div class="oj-hybrid-padding">
  <h1>Catálogo de Marcas</h1>
  <div>

    <!--Start crear dialog-->
    <oj-dialog id="crear-marca" dialog-title="Agregar una marca" aria-describedby="desc">
      <div slot="body">
        <p id="desc">
          Ingrese los datos para registrar marcas.
        </p>
        <div>
          <oj-input-text value="{{nombreMarca}}" label-hint="Nombre de la marca" class="oj-sm-margin-4x-bottom">
          </oj-input-text>
          
        </div>
      </div>
      <div slot="footer">
        <oj-button id="guardarButton" on-oj-action="[[guardarMarca]]">Guardar marca</oj-button>
        <oj-button id="cancelarButton" on-oj-action="[[closeCrearMarca]]">Cancelar</oj-button>
      </div>
    </oj-dialog>
    <oj-button id="buttonOpener" on-oj-action="[[openCrearMarca]]">Open Modal Dialog</oj-button>

    <!--End crear dialog-->

      <!--inicio editar marca dialog-->
      <oj-dialog id="editar-marca" dialog-title="Editar marca" aria-describedby="desc">
        <div slot="body">
          <p id="desc">
            Ingrese los datos para editar marca
          </p>
          <div>
            <oj-input-text value="{{idMarcaEditar}}" label-hint="ID" class="oj-sm-margin-4x-bottom" readonly="true">
            </oj-input-text>
            <oj-input-text value="{{nombreMarcaEditar}}" label-hint="Nombre de la marca"
              class="oj-sm-margin-4x-bottom">
            </oj-input-text>
            
          </div>
        </div>
        <div slot="footer">
          <oj-button id="saveButton" on-oj-action="[[editarMarca]]">Guardar cambios</oj-button>
          <oj-button id="cancelButton" on-oj-action="[[closeEditarMarca]]">Cancelar</oj-button>
        </div>
      </oj-dialog>
      <!--Fin editar marca dialog-->

       <!--inicio eliminar marca dialog-->
    <oj-dialog id="eliminar-marca" dialog-title="Eliminar marca" aria-describedby="desc">
      <div slot="body">
        <p id="desc">
          ¿Está seguro de eliminar esta marca?
        </p>
        <oj-input-text value="{{nombreMarcaEditar}}" label-hint="Nombre de la marca" class="oj-sm-margin-4x-bottom"
          readonly="true">
        </oj-input-text>
      </div>
      <div slot="footer">
        <oj-button id="saveButton" on-oj-action="[[eliminarMarca]]">Eliminar</oj-button>
        <oj-button id="cancelButton" on-oj-action="[[closeEliminarMarca]]">Cancelar</oj-button>
      </div>
    </oj-dialog>
    <!--fin eliminar producto dialog-->

    <!--start table-->
    <oj-table id="table" aria-label="Departments Table" accessibility.row-header="depName" data="[[marcaDataProvider]]"
      selection-mode='{"row": "single"}' dnd='{"reorder": {"columns": "enabled"}}'
      scroll-policy="loadMoreOnScroll" scroll-policy-options='{"fetchSize": 10}' on-selected-changed="[[enSeleccionMarca]]" columns='[{"headerText": "ID marca", 
                 "field": "id",
                 "headerClassName": "oj-sm-only-hide",
                 "className": "oj-sm-only-hide",
                 "resizable": "enabled",
                 "id": "depId"},
                {"headerText": "Nombre", 
                 "field": "nombre",
                 "resizable": "enabled",
                 "id": "depName"},
                 {"headerText": "Acciones", 
                 "field": "nombre",
                 "resizable": "enabled",
                 "template": "cellTemplate",
                 "id": "depName"}]' class="demo-table-container">
                 <template slot="cellTemplate" data-oj-as="cell">
                  <oj-button id="editarBtn" on-oj-action="[[openEditarMarca]]">
                    Editar
                  </oj-button>
                  <oj-button id="editarBtn" on-oj-action="[[openEliminarMarca]]">
                    Eliminar
                  </oj-button>
                </template>
    </oj-table>
    <!--end table-->
  </div>
</div>