<div class="oj-hybrid-padding">
    <h1>Sub Linea</h1>
    <div>
        <br>
        <oj-button id="buttonOpener" on-oj-action="[[open]]">Crear sublinea</oj-button>
        <br><br>
  
        <oj-table
              id="table"
              aria-label="Departments Table"
              accessibility.row-header="depName"
              data="[[sublineaDataProvider]]"
              selection-mode='{"row": "single"}'
              dnd='{"reorder": {"columns": "enabled"}}'
              on-selected-changed="[[seleccionarCelda]]"
              scroll-policy="loadMoreOnScroll"
              scroll-policy-options='{"fetchSize": 10}'
              columns='[[columnas]]'
              class="demo-table-container">
              <template slot="cellTemplate" data-oj-as="cell">
                <oj-button on-oj-action="[[openEditar]]">
                  Editar
                </oj-button>
                <oj-button on-oj-action="[[openEliminar]]">
                  Eliminar
                </oj-button>
  
              </template>
        </oj-table>
        
        <!--Modales-->
        <oj-dialog id="modal-crear" dialog-title="Crear sub linea" aria-describedby="desc">
          <div slot="body">
            <p id="desc">
              Dar de alta sublinea
            </p>
            <div>
              <oj-select-single data="[[marcasDataProvider]]" value="" label-hint="Marca" on-value-changed="[[getLineasApi]]"></oj-select-single>
              <oj-select-single data="[[lineaDataProvider]]" value="" label-hint="Linea" on-value-changed="[[lineaSelect]]"></oj-select-single>
              <oj-input-text
                id="text-input"
                value="{{nombreSubLinea}}"
                label-hint="Nombre de sublinea"
                label-edge="inside">
              </oj-input-text>
              
            </div>
          </div>
          <div slot="footer">
            <oj-button id="okButton" on-oj-action="[[guardarSubLinea]]">Guardar</oj-button>
            <oj-button id="okButton" on-oj-action="[[close]]">Cancelar</oj-button>
          </div>
        </oj-dialog>
  
        <oj-dialog id="modal-editar" dialog-title="Editar Sublinea" aria-describedby="desc">
          <div slot="body">
            <p id="desc">
              Editar sublinea
            </p>
            <div>
  
              <oj-input-text
                id="text-input"
                value="{{idSelecion}}"
                label-hint="ID"
                label-edge="inside"
                style="margin-bottom: 15px;"
                readonly="true">
              </oj-input-text>

              <oj-select-single data="[[marcasDataProvider]]" value="{{idMarcaEditar}}" label-hint="Marca" on-value-changed="[[getLineasApi]]"></oj-select-single>
              <oj-select-single data="[[lineaDataProvider]]" value="{{idLineaEditar}}" label-hint="Linea" on-value-changed="[[lineaSelect]]"></oj-select-single>
  
              <oj-input-text
                id="text-input"
                value="{{nombreSubLineaeditar}}"
                label-hint="Nombre"
                label-edge="inside"
                style="margin-bottom: 15px;">
              </oj-input-text>
              
            </div>
          </div>
          <div slot="footer">
            <oj-button id="okButton" on-oj-action="[[editarSubLinea]]">Guardar</oj-button>
            <oj-button id="okButton" on-oj-action="[[closeEditar]]">Cancelar</oj-button>
          </div>
        </oj-dialog>
  
        <oj-dialog id="modal-eliminar" dialog-title="Eliminar sublinea" aria-describedby="desc">
          <div slot="body">
            <p id="desc">
              ¿Quieres eliminar esta sublinea?
            </p>
            <div>
  
              <oj-input-text
                id="text-input"
                value="{{idSelecion}}"
                label-hint="ID"
                label-edge="inside"
                style="margin-bottom: 15px;"
                readonly="true">
              </oj-input-text>
  
              <oj-input-text
                id="text-input"
                value="{{nombreSubLineaeditar}}"
                label-hint="Nombre"
                label-edge="inside"
                style="margin-bottom: 15px;"
                readonly="true">
              </oj-input-text>
              
            </div>
          </div>
          <div slot="footer">
            <oj-button id="okButton" on-oj-action="[[eliminarSubLinea]]">Eliminar</oj-button>
            <oj-button id="okButton" on-oj-action="[[closeEliminar]]">Cancelar</oj-button>
          </div>
        </oj-dialog>
  
    </div>
  </div>
  