<div class="oj-hybrid-padding">
    <h1>Vehículos</h1>
    <div class="oj-sm-margin-4x-bottom">
        <oj-button on-oj-action="[[openAnadirModal]]">
            Añadir vehículo
        </oj-button>
    </div>
    <oj-dialog id="modalAnadir" dialog-title="Añadir vehículo" aria-describedby="desc">
        <div slot="body">
            <p id="desc">
                Ingrese los datos correspondientes del vehículo a registrar
            </p>
            <div class="oj-flex">
                <div class="oj-flex-item oj-sm-6 oj-sm-padding-1x">
                    <oj-input-number value="{{cilindros}}" id="txt_cilin" value="3" label-hint="No. de cilindros"
                        min="1" step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-6 oj-sm-padding-1x">
                    <oj-input-number value="{{puertas}}" id="txt_puer" value="1" label-hint="No. de Puertas" min="1"
                        step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-input-number value="{{asientos}}" id="txt_asie" value="1" label-hint="No. de asientos" min="1"
                        step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-select-single on-value-changed="[[getLineas]]" value="{{idmarca}}" data="[[marcasDataProvider]]"
                        label-hint="Marca">
                    </oj-select-single>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-select-single on-value-changed="[[getSublineas]]" value="{{idlinea}}"
                        data="[[lineasDataProvider]]" label-hint="Línea">
                    </oj-select-single>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-select-single value="{{idsublinea}}" data="[[sublineasDataProvider]]" label-hint="Sublínea">
                    </oj-select-single>
                </div>
            </div>
        </div>
        <div slot="footer">
            <oj-button id="okButton" on-oj-action="[[anadirVehiculo]]">Añadir</oj-button>
            <oj-button id="okButton" on-oj-action="[[closeAnadirModal]]">Cancelar</oj-button>
        </div>
    </oj-dialog>
    <oj-dialog id="modalEditar" dialog-title="Editar vehículo" aria-describedby="desc">
        <div slot="body">
            <p id="desc">
                Ingrese los datos correspondientes del vehículo a editar
            </p>
            <div class="oj-flex">
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-input-number disabled="true" value="{{id_vehiculo}}" id="txt_cilin" value="3" label-hint="ID"
                        min="1" step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-6 oj-sm-padding-1x">
                    <oj-input-number value="{{cilindrosEditar}}" id="txt_cilin" value="3" label-hint="No. de cilindros"
                        min="1" step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-6 oj-sm-padding-1x">
                    <oj-input-number value="{{puertasEditar}}" id="txt_puer" value="1" label-hint="No. de Puertas"
                        min="1" step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-input-number value="{{asientosEditar}}" id="txt_asie" value="1" label-hint="No. de asientos"
                        min="1" step="1">
                    </oj-input-number>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-select-single on-value-changed="[[getLineas]]" value="{{idmarcaEditar}}"
                        data="[[marcasDataProvider]]" label-hint="Marca">
                    </oj-select-single>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-select-single on-value-changed="[[getSublineas]]" value="{{idlineaEditar}}"
                        data="[[lineasDataProvider]]" label-hint="Línea">
                    </oj-select-single>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-select-single value="{{idsublineaEditar}}" data="[[sublineasDataProvider]]"
                        label-hint="Sublínea">
                    </oj-select-single>
                </div>
            </div>
        </div>
        <div slot="footer">
            <oj-button id="okButton" on-oj-action="[[editarVehiculo]]">Guardar cambios</oj-button>
            <oj-button id="okButton" on-oj-action="[[closeEditarModal]]">Cancelar</oj-button>
        </div>
    </oj-dialog>
    <oj-dialog id="modalEliminar" dialog-title="Eliminar vehículo" aria-describedby="desc">
        <div slot="body">
            <p id="desc">
                ¿Estás seguro de eliminar este vehículo?
            </p>
            <div class="oj-flex">
                <div class="oj-flex-item oj-sm-12 oj-sm-padding-1x">
                    <oj-input-number disabled="true" value="{{id_vehiculo}}" id="txt_cilin" value="3" label-hint="ID"
                        min="1" step="1">
                    </oj-input-number>
                </div>
            </div>
        </div>
        <div slot="footer">
            <oj-button id="okButton" on-oj-action="[[eliminarVehiculo]]">Eliminar</oj-button>
            <oj-button id="okButton" on-oj-action="[[closeEliminarModal]]">Cancelar</oj-button>
        </div>
    </oj-dialog>
    <oj-table id="table" on-selected-changed="[[seleccionarCelda]]" aria-label="Departments Table"
        accessibility.row-header="depName" data="[[vehiculosDataProvider]]" selection-mode='{"row": "single"}'
        dnd='{"reorder": {"columns": "enabled"}}' scroll-policy="loadMoreOnScroll"
        scroll-policy-options='{"fetchSize": 10}' columns='[[columnas]]' class="demo-table-container">
        <template slot="celda_acciones_template" data-oj-as="cell">
            <oj-button on-oj-action="[[openEditarModal]]">
                Editar
            </oj-button>
            <oj-button on-oj-action="[[openEliminarModal]]">
                Eliminar
            </oj-button>
        </template>
    </oj-table>
</div>